<br \>

<div class="container center-block">
<p class="h4">Edit the <%= bookFound.title %>  book review</p>
<!-- FORM FOR NEW BOOK -->
You are currently editing the review of <span class="bold-600"><%= bookFound.title %> </span>with an ID of <span class="bold-600"><%= bookFound.id %> in the database</span>.
<br \>
<br \>
<form action="/book/edit/<%= bookFound.id %>/?_method=PUT" method="POST">
<label for="book-title">Book Title *</label>
<input type="text" id="book-title" name="title" value="<%= bookFound.title %>" required>
<label for="author">Author of Book *</label>
<input type="text" id="author" name="author" placeholder="Enter Author Name" value="<%= bookFound.author %>" required>
<br \>
<br \>
<label for="category">Category *</label>
<input type="text" id="category" name="category" placeholder="Enter a Category" value="<%= bookFound.category %>" required></input>
<br \>
<label for="content">Review *</label>
<br \>
<textarea name="content" id="content" cols="90" rows="10" placeholder="Enter your review" required><%= bookFound.content %> </textarea>
<br \>
<label for="book-price">Retail Price *</label>
<input type="number" id="book-price" name="book_price" placeholder="Enter Book Price" value="<%= bookFound.book_price %>" required>
<label for="img-url">Image Address (full URL)</label>
<input type="url" id="img-url" placeholder="Enter image URL" value="<%= bookFound.img_url %>" name="img_url" required>
<br><br>
<div class="rating">
    <p>Rating (1 = Horrible, 5 = Excellent)</p>
    <p style="font-weight: bold;">NOTE: current rating was <%= bookFound.book_rating %>. Please re-enter this rating or change it. </p>
    <input type="radio" id="1" name="book_rating" value=1>
    <label for="1">1</label>
    <input type="radio" id="2" name="book_rating" value=2>
    <label for="2">2</label>
    <input type="radio" id="3" name="book_rating" value=3>
    <label for="3">3</label>
    <input type="radio" id="4" name="book_rating" value=4>
    <label for="4">4</label>
    <input type="radio" id="5" name="book_rating" value=5>
    <label for="5">5</label>
</div>
<br \>
<input type="submit" value="Submit" class="btn btn-primary">
<br><br>
<p>* required</p>
</form>
<!-- END OF FORM FOR NEW BOOK -->

</div>