
<div class="container container-fluid review">
    <div class="row">
      <div class="col-md-12">
        <h2><%= bookFound.title %> </h2>
        <!--Author here-->
        <p class="review-page">by <span style="font-weight: 700;"><%= bookFound.author %> </span></p>
        <!-- Rating here -->
        <p class="review-page">Rating: <span style="font-weight: 700;"><%= bookFound.book_rating %> / 5 </span></p>
        <!--Price here-->
        <p class="review-page">Price: <span style="font-weight: 700;">$<%= bookFound.book_price %></span> USD </p>
        <!--Reviewer info-->
        <p class="review-page">Reviewed by: <span style="font-weight: 700;"><%= bookFound.user.name %> </span></p>
      </div>
    </div>
    <div class="row">
      <!-- Book Image -->
      <div class="col-md-2">
        <img src="<%= bookFound.img_url %>" class="book-img img-thumbnail" alt="<%=bookFound.title%>">
      </div>
      <!-- Review Content -->
      <div class="col-md-10 book-content">
        <p><%= bookFound.content %></p>   
      </div>
    </div>
    <br>
    <hr class="solid">
    <!-- Comment Form -->
    <div class='comment-form' style="margin-bottom: 25px; width: 600px;">
      <p class="h5">Leave a Reply</p> 
  
    <form action="/book/review/<%= bookFound.id %> /" method="POST">
      <div class="mb-3">
      <label for="name">Your Name</label>
      <input type="text" id="name" name="name" required placeholder="Enter your name" class="form-control">
      </div>
      <div class="mb-3">
      <label for="content">Comment (max length:100 characters)</label>
      <textarea name="content" id="content" cols="70" rows="3" placeholder="Add a public comment" required class="form-control" maxlength="100"></textarea>
      </div>
      <input type="submit" value="submit" class="btn btn-warning">
    </form>
  </div>
</div>

<div class="container comment-section review">
  <p class="h4">All Comments</p>    
  <% bookFound.comments.forEach(cmt => { %>
    <li><p class="comment-name"><%= cmt.name %> </p></li>
     <li><p><%= cmt.content %> </p></li>
  <% }) %>
</div>