
<div class="container">
    <h2><%= bookFound.title %> </h2>
    <!--Author here-->
    <p>by <span style="font-weight: 700;"><%= bookFound.author %> </span></p>
    <!-- Rating here -->
    <p>Rating: <span style="font-weight: 700;"><%= bookFound.book_rating %> / 5 </span></p>
    <!--Price here-->
    <p>Price: <span style="font-weight: 700;">$<%= bookFound.book_price %></span> USD </p>
    <!-- Image here-->
    <img src="<%= bookFound.img_url %>" alt="<%=bookFound.title%>">
    <!-- content here-->
    <div class="bookreview-content">
        <%= bookFound.content %> 
    </div>
    <p>Reviewed by: <span style="font-weight: 700;"><%= bookFound.user.name %> </span></p>

</div>
<div class='container comment-form' style="margin-bottom: 100px;">
    <p class="h5">Comments here</p> 

    <form action="/book/review/:id/" method="POST">
    <label for="name">Your Name</label>
    <input type="text" id="name" name="name">
    <label for="content">content</label>
    <input type="text" id="content" name="content">
    <input type="submit" value="submit">
    </form>
</div>
<!-- <div class="container comment-section">
    <%# bookFound.comment.content %> 
</div> -->